* {
    /* width: 0; */
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --color-header: #fff;
    --color-all: #ffd760;
}

header {
    background-color: #25262c;
}

header section {
    border: 1px solid #56575a;
    padding: 10px;

}

section.links {
    text-align: center;
}

section.links a {
    font-size: 13px;
}

section.links > a:nth-child(1) {
    color: gray;
}

section.links > a:nth-child(2) {
    color: white;
    font-weight: bolder;
}

section.pesquisa, ul {
    display: flex;
    justify-content: space-around;
}

section.pesquisa {
    justify-content: space-around;
    align-items: center;
    color: var(--color-header);
    border-bottom: 4px solid var(--color-all);
}

section.pesquisa input {
    padding: 18px 20px;
    width: 40vw;
    border-radius: 10px;
    border: none;
}

section.pesquisa input::placeholder {
    font-size: 14px;
}

section.pesquisa .div2 {
    position: relative;
}


section.pesquisa .div2 > ion-icon {
    position: absolute;
    right: 3%;
    top: 30%;
    color: black;
    transform: scale(-1, 1);
    font-size: 20px;
}

section.pesquisa .div3 {
    padding: 10px;
    cursor: pointer;
}

section.pesquisa .div3:hover {
    background-color: var(--color-all);
}

section.pesquisa .div3:hover > ion-icon {
    background-color: black;
    color: var(--color-all);
}

section.pesquisa .div5 {
    padding: 8px;
    border-radius: 10px;
}

section.pesquisa .div4:hover {
    border: 1px solid var(--color-all);
    padding: 10px;
}

section.pesquisa .div5 > ion-icon {
    font-size: 35px;
    border: none;
    background-color: var(--color-all);
    border-radius: 8px;
}

section.pesquisa .div5 {
    position: relative;
}
section.pesquisa .div5 > span {
    background-color: black;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    right: 5%;

}


section.navbar li {
    list-style-type: none;
    text-decoration: none;
}

section.navbar a {
    color: var(--color-header);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}